.trainersTable{
  margin-top:25px;
  background:#fff;
  border-radius:20px;
  border:1px solid #e5e7eb;
  overflow:hidden;
}

.trainersTable h2{
  padding:20px;
}

.trainersTable table{
  width:100%;
  border-collapse:collapse;
}

.trainersTable th{
  background:#f8fafc;
  padding:18px;
  text-align:left;
}

.trainersTable td{
  padding:18px;
  border-bottom:1px solid #e5e7eb;
}

.trainersTable tr:last-child td{
  border-bottom:none;
}

@media(max-width:768px){

  .trainersTable{
    overflow:hidden;
  }

  .trainersTable table,
  .trainersTable thead{
    display:none;
  }

  .trainersTable tbody{
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:15px;
  }

  .trainersTable tr{
    display:block;
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:15px;
    padding:15px;
  }

  .trainersTable td{
    display:block;
    border:none;
    padding:6px 0;
  }
}
